@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,300;0,500;0,900;1,500&display=swap');

/* GOOGLE FONTS
font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;
 */

/* COLOR PALETTE
TEXT
DARK BLUE : #254f6d
BACKGROUND :
ARCTIC BLUE : #d6fffb
BLUE : #85c7f2
CARDS :
BEEP BLUE : #3e92cc
*/



*{
  color: #254f6d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: radial-gradient(circle at 50% 50%, #85c7f2 0%, #d6fffb 100%);
  width: 90%;
  margin: 0 auto;
}
