*{
  color: #254f6d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: radial-gradient(circle at 50% 50%, #85c7f2 0%, #d6fffb 100%);
  width: 90%;
  margin: 0 auto;
}
